<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script> -->

</head>

<canvas id="{ID}" width={WIDTH} height={HEIGHT} aria-label="Fever Curves Chart" role="img"></canvas>


<script id="source1" language="javascript" type="text/javascript">

    var series = {SERIES};
    //console.log(series);
    var preferences = {PREFERENCES};
    //console.log(preferences);

    var xLabels = {XLABELS};
    var yLabels = {YLABELS};

    // legend position depending on screen size
    var legendPosition;
    function determineLegendPosition(screenSize) {
      if (screenSize.matches) {
        legendPosition = preferences.legend.mobilePosition;
      } else {
        legendPosition = preferences.legend.desktopPosition;
      }
    }
    var screenSize = window.matchMedia("(max-width: 767px)");
    determineLegendPosition(screenSize);



    new Chart(document.getElementById('{ID}'), {
        type: 'scatter',
        data: {
            datasets: series,
        },
        options: {
            responsive: preferences.responsive,
            maintainAspectRatio: preferences.maintainAspectRatio,
            title: {
                display: preferences.title.display,
                position: preferences.title.position,
                text: preferences.title.text,
                fontStyle: preferences.title.fontStyle,
                fontSize: preferences.title.fontSize,
            },
            scales: {
                xAxes: [
                    {
                        type: preferences.xAxis.type,
                        ticks: {
                            callback: function(value, index, values) {
                                return xLabels[value];
                            },
                            beginAtZero: preferences.xAxis.beginAtZero,
                            stepSize: preferences.xAxis.stepSize,
                            min: preferences.xAxis.min,
                            max: preferences.xAxis.max,
                            padding: preferences.xAxis.padding,
                        },
                    },
                ],
                yAxes: [
                    {
                        type: preferences.yAxis.type,
                        ticks: {
                            callback: function(value, index, values) {
                                return yLabels[value];
                            },
                            reverse: preferences.yAxis.reverse,
                            beginAtZero: preferences.yAxis.beginAtZero,
                            stepSize: preferences.yAxis.stepSize,
                            min: preferences.yAxis.min,
                            max: preferences.yAxis.max,
                            padding: preferences.yAxis.padding,
                        },
                    },
                ],
            },
            legend : {
                position: legendPosition,
            },
            tooltips: {
                enabled: preferences.tooltips.enabled,
                callbacks: {
                    label: function(tooltipItem, data) {
                      var xValue = tooltipItem.xLabel;
                      var xValuePer = xValue + 1;
                      var perValue = xValuePer % parseInt(xValuePer);
                      perValue = Math.round(perValue * 100);
                      var num = 0;
                      if (perValue === 0) {
                        num = xLabels[parseInt(xValue)];
                      }
                      else {
                        num = xLabels[parseInt(xValue)] + " + " + perValue + "%";
                      }
                      var line = data.datasets[tooltipItem.datasetIndex].label;
                      label = line + ": " + num;
                      return label;
                    },
                },
            },
        },
    });

</script>